.list-items {
    list-style: none;
    outline: 2px solid black;
    margin: 10px;
    height: fitcontent;
    padding: 20px;
}

.container {
    width: 50%;
    padding: 0 25% 0 25%;
    text-align: center;
}

body {
    font-family: roboto;
}

p {
    display: inline;
}